@rendermode InteractiveServer
@page "/edit-department/{departmentId:int}"
@using MnemonicsTakeTwo.Data
@using MnemonicsTakeTwo.Services
@inject IDepartmentService DepartmentService
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>Edit Department</h3>

@if (department == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="department" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="department.Name" Label="Name" Required="true" ShrinkLabel="true" />
            </MudItem>
            <MudItem xs="12">
                <MudButton Type="submit" Variant="Variant.Filled" Color="Color.Primary" OnClick="HandleValidSubmit">Save Changes</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
}

@code {
    [Parameter]
    public int departmentId { get; set; }
    private Department department;

    protected override async Task OnInitializedAsync()
    {
        department = await DepartmentService.GetDepartmentByIdAsync(departmentId);
    }

    private async Task HandleValidSubmit()
    {
        await DepartmentService.UpdateDepartmentAsync(department);
        Navigation.NavigateTo("/manage-departments");
    }
}



